Jornada 3 - Produção.json
{
  "name": "Jornada 3 - Produção",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1984,
        288
      ],
      "id": "f956b400-e63d-455c-bf5e-87414541671e",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "gwKey",
              "name": "GW_APP_KEY",
              "type": "string",
              "value": "42783cd412f343e8acb3d42219c1d9bf"
            },
            {
              "id": "baseUrl",
              "name": "BASE_URL",
              "type": "string",
              "value": "https://api-pix.bb.com.br/pix/v2"
            },
            {
              "id": "oauthUrl",
              "name": "OAUTH_URL",
              "type": "string",
              "value": "https://oauth.bb.com.br/oauth/token"
            },
            {
              "id": "basic",
              "name": "BASIC_AUTH_BASE64",
              "type": "string",
              "value": "ZXlKcFpDSTZJbUptT1RRMk1tUXROekU0T1MwME5UZ3dMV0ZrT0RndFlXRmpZMll4SWl3aVkyOWthV2R2VUhWaWJHbGpZV1J2Y2lJNk1Dd2lZMjlrYVdkdlUyOW1kSGRoY21VaU9qRXlPRGc0TXl3aWMyVnhkV1Z1WTJsaGJFbHVjM1JoYkdGallXOGlPakY5OmV5SnBaQ0k2SWpCbFlXTTJaV0V0TkdVM01DMDBJaXdpWTI5a2FXZHZVSFZpYkdsallXUnZjaUk2TUN3aVkyOWthV2R2VTI5bWRIZGhjbVVpT2pFeU9EZzRNeXdpYzJWeGRXVnVZMmxoYkVsdWMzUmhiR0ZqWVc4aU9qRXNJbk5sY1hWbGJtTnBZV3hEY21Wa1pXNWphV0ZzSWpveExDSmhiV0pwWlc1MFpTSTZJbkJ5YjJSMVkyRnZJaXdpYVdGMElqb3hOelUzTkRNNU9EY3pNVFl5ZlE="
            },
            {
              "id": "contrato",
              "name": "CONTRATO",
              "value": "={{ $json.body.contrato }}",
              "type": "string"
            },
            {
              "id": "cpf_dev",
              "name": "CPF_DEVEDOR",
              "value": "={{ $json.body.cpfDevedor }}",
              "type": "string"
            },
            {
              "id": "nome_dev",
              "name": "NOME_DEVEDOR",
              "value": "={{ $json.body.nomeDevedor }}",
              "type": "string"
            },
            {
              "id": "chave_pix",
              "name": "CHAVE_PIX_RECEBEDOR",
              "value": "={{ $json.body.chavePixRecebedor }}",
              "type": "string"
            },
            {
              "id": "valor_pag",
              "name": "VALOR_PRIMEIRO_PAGAMENTO",
              "value": "={{ $json.body.valorPrimeiroPagamento }}",
              "type": "string"
            },
            {
              "id": "valor_rec",
              "name": "VALOR_RECORRENCIA",
              "value": "={{ $json.body.valorRec }}",
              "type": "string"
            },
            {
              "id": "data_inicial",
              "name": "DATA_INICIAL",
              "value": "={{ $json.body.dataInicial }}",
              "type": "string"
            },
            {
              "id": "917a690e-c897-41ee-9d79-70a1e142119e",
              "name": "PERIODICIDADE",
              "value": "={{ $json.body.periodicidade }}",
              "type": "string"
            },
            {
              "id": "7caf3d0c-27f1-41b4-abe3-a872d4d7cce0",
              "name": "POLITICA_RETENTATIVA",
              "value": "={{ $json.body.politicaRetentativa }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1760,
        160
      ],
      "id": "14ba8c42-9fdb-4d67-b38a-3875bd2204d5",
      "name": "1. Config Dados"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$node['1. Config Dados'].json['OAUTH_URL']}}",
        "provideSslCertificates": true,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Basic ' + $node['1. Config Dados'].json['BASIC_AUTH_BASE64']}}"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "scope",
              "value": "rec.write rec.read payloadlocationrec.write payloadlocationrec.read cobr.write cobr.read cob.write cob.read"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1568,
        160
      ],
      "id": "6734e4be-6d6f-41b7-b355-e741e2912469",
      "name": "2. OAuth Token",
      "credentials": {
        "httpSslAuth": {
          "id": "iErrD6s3f9UvRLHw",
          "name": "SSL Certificates account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst txid = crypto.randomBytes(16).toString('hex');\n\nconst config = $node['1. Config Dados'].json;\n\nconst body = {\n  calendario: {\n    expiracao: 3600\n  },\n  valor: {\n    original: config.VALOR_PRIMEIRO_PAGAMENTO\n  },\n  chave: config.CHAVE_PIX_RECEBEDOR,\n  solicitacaoPagador: \"Primeira parcela - Pix Automatico\"\n};\n\nreturn [{\n  txid: txid,\n  body: body\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        160
      ],
      "id": "da76d518-1fcd-460a-b1cd-00316c49aed9",
      "name": "3. Gerar TXID"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{$node['1. Config Dados'].json['BASE_URL'] + '/cob/' + $json.txid}}",
        "provideSslCertificates": true,
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "gw-dev-app-key",
              "value": "={{$node['1. Config Dados'].json['GW_APP_KEY']}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $node['2. OAuth Token'].json['access_token']}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1168,
        160
      ],
      "id": "85ce3a8f-d606-4053-b14c-de6519642fb1",
      "name": "4. Criar Cobranca",
      "credentials": {
        "httpSslAuth": {
          "id": "XMvyy0Qq1lAI9dTw",
          "name": "Vida Ouro"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$node['1. Config Dados'].json['BASE_URL'] + '/locrec'}}",
        "provideSslCertificates": true,
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "gw-dev-app-key",
              "value": "={{$node['1. Config Dados'].json['GW_APP_KEY']}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $node['2. OAuth Token'].json['access_token']}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -960,
        160
      ],
      "id": "25ba3358-f37d-454c-8b99-a1b0b6cc11bd",
      "name": "5. Criar LOCREC",
      "credentials": {
        "httpSslAuth": {
          "id": "XMvyy0Qq1lAI9dTw",
          "name": "Vida Ouro"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "locId",
              "name": "locId",
              "type": "number",
              "value": "={{$json.id}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -768,
        160
      ],
      "id": "81f0539e-f023-4ec9-9635-3047223871b6",
      "name": "6. Extrair locId"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$node['1. Config Dados'].json['BASE_URL'] + '/rec'}}",
        "provideSslCertificates": true,
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "gw-dev-app-key",
              "value": "={{$node['1. Config Dados'].json['GW_APP_KEY']}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $node['2. OAuth Token'].json['access_token']}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"vinculo\": {\n    \"objeto\": \"masterClassic\",\n    \"contrato\": \"{{$node['1. Config Dados'].json.CONTRATO}}\",\n    \"devedor\": {\n      \"cpf\": \"{{$node['1. Config Dados'].json.CPF_DEVEDOR}}\",\n      \"nome\": \"{{$node['1. Config Dados'].json.NOME_DEVEDOR}}\"\n    }\n  },\n  \"calendario\": {\n    \"dataInicial\": \"{{$node['1. Config Dados'].json.DATA_INICIAL}}\",\n    \"periodicidade\": \"{{$node['1. Config Dados'].json.PERIODICIDADE}}\"\n  },\n  \"politicaRetentativa\": \"{{$node['1. Config Dados'].json.POLITICA_RETENTATIVA}}\",\n  \"loc\": {{$json.locId}},\n  \"valor\": {\"valorRec\": \"{{$node['1. Config Dados'].json.VALOR_RECORRENCIA}}\"},\n  \"ativacao\": {\n    \"dadosJornada\": {\n      \"txid\": \"{{$node['3. Gerar TXID'].json.txid}}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        160
      ],
      "id": "18c4fed7-374f-4b1e-a5bf-fee3ec67bed1",
      "name": "7. Criar Recorrencia",
      "credentials": {
        "httpSslAuth": {
          "id": "XMvyy0Qq1lAI9dTw",
          "name": "Vida Ouro"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "idRec",
              "name": "idRec",
              "type": "string",
              "value": "={{$json.idRec}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        160
      ],
      "id": "a8e8b94a-ff7d-47c7-b931-aaf461e2ad34",
      "name": "8. Extrair idRec"
    },
    {
      "parameters": {
        "jsCode": "// POLLING JORNADA 3 — GET /rec/{idRec}?txid=... (tentativas + CRC16 + logs seguros)\n\n// --------------------------- Inputs / sanity ---------------------------\nconst config = $node['1. Config Dados'].json;\nconst token  = $node['2. OAuth Token'].json.access_token;\n\n// txid principal do nó de geração, com fallback do próprio item (ativacao.dadosJornada.txid)\nconst txid   = $node['3. Gerar TXID'].json.txid || $json?.ativacao?.dadosJornada?.txid;\nconst idRec  = $json.idRec;\n\nif (!config?.BASE_URL) throw new Error('BASE_URL ausente nas configs');\nif (!config?.GW_APP_KEY) throw new Error('GW_APP_KEY ausente nas configs');\nif (!token) throw new Error('Token OAuth ausente');\nif (!txid) throw new Error('TXID ausente');\nif (!idRec) throw new Error('idRec ausente');\n\n// Normaliza base URL (remove barra final)\nconst baseUrl = String(config.BASE_URL).replace(/\\/+$/, '');\nconst gwKey   = config.GW_APP_KEY;\n\n// --------------------------- Utilidades ---------------------------\n// CRC16-CCITT (0x1021, init 0xFFFF)\nfunction crc16Ccitt(str) {\n  let crc = 0xFFFF;\n  for (let i = 0; i < str.length; i++) {\n    crc ^= (str.charCodeAt(i) << 8);\n    for (let j = 0; j < 8; j++) {\n      crc = (crc & 0x8000) ? ((crc << 1) ^ 0x1021) : (crc << 1);\n      crc &= 0xFFFF;\n    }\n  }\n  return crc.toString(16).toUpperCase().padStart(4, '0');\n}\nfunction isValidEmv(emv) {\n  if (!emv || typeof emv !== 'string') return false;\n  const idx = emv.indexOf('6304'); if (idx < 0) return false;\n  const calc = crc16Ccitt(emv.substring(0, idx + 4));\n  const informed = emv.substring(idx + 4, idx + 8).toUpperCase();\n  return calc === informed;\n}\n\n// Aceitar EMV em diferentes formatos de resposta\nfunction pickEmvFromResp(resp) {\n  return resp?.dadosQR?.pixCopiaECola\n      || resp?.pixCopiaECola\n      || resp?.qrcode?.emv\n      || resp?.payload?.emv\n      || null;\n}\n\n// Normaliza resposta (objeto ou array com 1 item)\nfunction normalizeResp(r) {\n  if (Array.isArray(r)) return r[0] || {};\n  return r || {};\n}\n\nfunction sleep(s) { return new Promise(r => setTimeout(r, s * 1000)); }\n\n// --------------------------- Short-circuit se já veio pronto no input ---------------------------\nconst emvInput = pickEmvFromResp($json);\nif (emvInput && isValidEmv(emvInput)) {\n  return [{\n    ...$json,\n    _metadata: { ...($json._metadata||{}), origem: 'INPUT', emvValidoCRC: true, idRec, txid, timestamp: new Date().toISOString() }\n  }];\n}\n\n// --------------------------- Config de retry ---------------------------\nconst maxTentativas = 12;\nconst delays = [1,2,3,5,5,5,8,8,8,10,10]; // seg\n\n// --------------------------- Request helper ---------------------------\nasync function getRecWithTxid() {\n  // Usa encode em path e query (evita problemas com caracteres especiais)\n  const url =\n    `${baseUrl}/rec/${encodeURIComponent(idRec)}`\n    + `?txid=${encodeURIComponent(txid)}`\n    + `&gw-dev-app-key=${encodeURIComponent(gwKey)}`;\n\n  // n8n Code node helper\n  return this.helpers.httpRequest({\n    method: 'GET',\n    url,\n    headers: {\n      Authorization: `Bearer ${token}`,\n      Accept: 'application/json',\n    },\n    json: true,\n    timeout: 30000,\n  });\n}\n\n// --------------------------- Logs iniciais ---------------------------\nconsole.log('=== POLLING J3 ===', {\n  baseUrl,\n  appKeyPrefix: gwKey?.slice(0, 6) + '...',\n  idRec,\n  txidLen: String(txid).length,\n});\n\n// --------------------------- Loop de polling ---------------------------\nlet ultimaResposta;\n\nfor (let tentativa = 1; tentativa <= maxTentativas; tentativa++) {\n  try {\n    const raw = await getRecWithTxid.call(this);\n    const resp = normalizeResp(raw);\n    ultimaResposta = resp;\n\n    const status   = resp?.status;\n    const jornada  = resp?.dadosQR?.jornada;\n    const emv      = pickEmvFromResp(resp);\n    const emvOk    = emv ? isValidEmv(emv) : false;\n\n    console.log(`Tentativa ${tentativa}/${maxTentativas}`, {\n      status, jornada, emvLen: emv?.length || 0, crcOK: emvOk\n    });\n\n    // Estados terminais negativos\n    if (['REJEITADA','CANCELADA','EXPIRADA'].includes(status)) {\n      throw new Error(`Recorrencia ${status}`);\n    }\n\n    // Sucesso: EMV válido (e jornada adequada, quando presente)\n    if (emv && emvOk && (!jornada || jornada === 'JORNADA_3')) {\n      return [{\n        ...resp,\n        dadosQR: {\n          ...(resp.dadosQR || {}),\n          pixCopiaECola: emv,\n          jornada: jornada || 'JORNADA_3',\n          imagemQrcode: resp?.imagemQrcode || resp?.qrcode?.imagemQrcode || null,\n        },\n        _metadata: {\n          tentativas: tentativa,\n          emvValidoCRC: true,\n          idRec,\n          txid,\n          origem: 'GET /rec/{idRec}?txid',\n          timestamp: new Date().toISOString(),\n        }\n      }];\n    }\n\n  } catch (err) {\n    const sc = err?.statusCode ?? err?.status;\n    const retryable = [404, 408, 409, 423, 429, 500, 502, 503, 504].includes(sc)\n                   || ['ETIMEDOUT','ECONNRESET'].includes(err?.code);\n\n    console.log(`Erro tentativa ${tentativa}:`, {\n      statusCode: sc || 'N/A',\n      retryable\n    });\n\n    // 401/403 → não faz sentido insistir: deixe o fluxo renovar token\n    if ([401, 403].includes(sc)) throw err;\n    if (!retryable && sc >= 400 && sc < 500) throw err;\n  }\n\n  if (tentativa < maxTentativas) {\n    const wait = delays[tentativa - 1] || 2;\n    console.log(`Aguardando ${wait}s...`);\n    await sleep(wait);\n  }\n}\n\n// --------------------------- Falhou ---------------------------\nconsole.log('=== POLLING J3 FALHOU ===', {\n  tentativas: maxTentativas,\n  ultimaResposta: ultimaResposta ? {\n    status: ultimaResposta.status,\n    jornada: ultimaResposta?.dadosQR?.jornada,\n    hasQR: !!pickEmvFromResp(ultimaResposta)\n  } : 'NENHUMA'\n});\n\nthrow new Error(`EMV composto não obtido após ${maxTentativas} tentativas (idRec=${idRec})`);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        160
      ],
      "id": "d2e4165c-2b26-4cbd-b167-219972e0c07f",
      "name": "9. Polling QR Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "bdd29157-3e8d-4b67-a41a-eb6db06c454c",
              "leftValue": "={{ $json.dadosQR }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "09579fd7-01b3-4c61-bf3f-19ea43d19f2a",
              "leftValue": "={{ $json._metadata.emvValidoCRC }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        304,
        160
      ],
      "id": "c1973f60-d917-4417-ab34-875da76d4810",
      "name": "10. Validar QR"
    },
    {
      "parameters": {
        "url": "={{ 'https://api.qrserver.com/v1/create-qr-code/?size=300x300&data=' + encodeURIComponent($json.dadosQR.pixCopiaECola) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "qrcode"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        -48
      ],
      "id": "811353a9-9988-4054-86bf-6a4de91cc9a4",
      "name": "11. Gerar PNG"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "multipart/mixed"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1344,
        -32
      ],
      "id": "2f5dd902-93cc-4b9f-9053-65ff3ccb9e53",
      "name": "Resposta Sucesso"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        512,
        256
      ],
      "id": "31907e95-6f23-4a69-9b15-c775d11747ff",
      "name": "Resposta Erro"
    },
    {
      "parameters": {
        "content": "## Dados Obrigatórios - Jornada 3\n\n```json\n{\n  \"cpfDevedor\": \"12345678901\",               // 11 dígitos obrigatório\n  \"nomeDevedor\": \"JOÃO DA SILVA\",            // <= 140 chars obrigatório\n  \"contrato\": \"63100555\",                    // <= 35 chars obrigatório\n  \"dataInicial\": \"2025-12-01\",               // YYYY-MM-DD >= hoje\n  \"periodicidade\": \"MENSAL\",                 // DIARIA|SEMANAL|MENSAL|ANUAL\n  \"politicaRetentativa\": \"PERMITE_3R_7D\",    // Ver opções na seção 5.1\n  \"valorRec\": \"99.90\",                       // Recomendado para valor fixo\n  \"convenio\": \"15018\",                       // Opcional se só 1 convênio\n  \n  // Específicos da cobrança imediata\n  \"valorPrimeiroPagamento\": \"99.90\",         // Valor do pagamento imediato\n  \"chavePixRecebedor\": \"02429647000169\",     // Chave Pix do recebedor\n  \"nomeRecebedor\": \"VIDA OURO\",              // Nome do recebedor\n  \"cidadeRecebedor\": \"BELO HORIZONTE\"        // Cidade do recebedor\n}\n```",
        "height": 384,
        "width": 816,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1952,
        -368
      ],
      "typeVersion": 1,
      "id": "74030086-be98-48d4-9f1f-596b277fa059",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "={{ $node[\"1. Config Dados\"].json.BASE_URL + \"/rec/\" + $node[\"8. Extrair idRec\"].json.idRec + \"?txid=\" + $node[\"3. Gerar TXID\"].json.txid }}",
        "provideSslCertificates": true,
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "gw-dev-app-key",
              "value": "={{$node['1. Config Dados'].json['GW_APP_KEY']}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $node['2. OAuth Token'].json['access_token']}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        160
      ],
      "id": "12656055-4daa-43d7-a8e4-62ea81948b40",
      "name": "4. Consultar Recorrência",
      "credentials": {
        "httpSslAuth": {
          "id": "XMvyy0Qq1lAI9dTw",
          "name": "Vida Ouro"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jornada3-prod",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1984,
        160
      ],
      "id": "d8b50aee-28a6-496e-9506-4c1295b19c60",
      "name": "Webhook - Jornada 3",
      "webhookId": "cabe6d8e-0f84-4d2c-a7af-81b7cc8a02f4"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1008,
        -32
      ],
      "id": "b29544da-274a-4747-827b-c36c2c36ff62",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8efeba25-063e-4d92-b89b-f495ce715ee1",
              "name": "qrcode",
              "value": "={{ $json.qrcode }}",
              "type": "string"
            },
            {
              "id": "666ef49c-0eea-469f-a26f-2d28b432c367",
              "name": "dadosQR.jornada",
              "value": "={{ $json.dadosQR.jornada }}",
              "type": "string"
            },
            {
              "id": "af1d1240-7dfd-4c7e-bf5f-f86b9c15bb87",
              "name": "dadosQR.pixCopiaECola",
              "value": "={{ $json.dadosQR.pixCopiaECola }}",
              "type": "string"
            },
            {
              "id": "3ad01861-83eb-4143-8a69-4eec5c8f0774",
              "name": "vinculo.devedor.nome",
              "value": "={{ $json.vinculo.devedor.nome }}",
              "type": "string"
            },
            {
              "id": "d34b5978-9b93-4982-b456-47fc65253b63",
              "name": "vinculo.devedor.cpf",
              "value": "={{ $json.vinculo.devedor.cpf }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        -32
      ],
      "id": "8c8693f9-55be-431a-a990-5d7052c26c5a",
      "name": "Extrair Resposta ao webhook"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "qrcode",
        "destinationKey": "qrcode",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        800,
        -48
      ],
      "id": "54cc3147-183b-4ff2-8223-29bfffa6045d",
      "name": "Extract from File"
    }
  ],
  "pinData": {
    "Webhook - Jornada 3": [
      {
        "json": {
          "headers": {
            "host": "webhook.flux.orkai.com.br",
            "user-agent": "Deno/2.1.4 (variant; SupabaseEdgeRuntime/1.69.25)",
            "content-length": "385",
            "accept": "*/*",
            "accept-encoding": "gzip,br",
            "accept-language": "*",
            "content-type": "application/json",
            "x-forwarded-for": "18.228.12.145",
            "x-forwarded-host": "webhook.flux.orkai.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "a4decd42d762",
            "x-real-ip": "18.228.12.145"
          },
          "params": {},
          "query": {},
          "body": {
            "cpfDevedor": "10720302684",
            "nomeDevedor": "RAMAEL FERNANDO DE PAULO SOARES",
            "contrato": "4f9de6d79d2f4d4b8bd579f31a0d811b",
            "dataInicial": "2026-01-26",
            "periodicidade": "MENSAL",
            "politicaRetentativa": "PERMITE_3R_7D",
            "valorRec": "107.27",
            "convenio": "15018",
            "valorPrimeiroPagamento": "107.27",
            "chavePixRecebedor": "02429647000169",
            "nomeRecebedor": "VIDA OURO",
            "cidadeRecebedor": "BELO HORIZONTE"
          },
          "webhookUrl": "https://webhook.flux.orkai.com.br/webhook/jornada3-prod",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "1. Config Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Config Dados": {
      "main": [
        [
          {
            "node": "2. OAuth Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. OAuth Token": {
      "main": [
        [
          {
            "node": "3. Gerar TXID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Gerar TXID": {
      "main": [
        [
          {
            "node": "4. Criar Cobranca",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Criar Cobranca": {
      "main": [
        [
          {
            "node": "5. Criar LOCREC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Criar LOCREC": {
      "main": [
        [
          {
            "node": "6. Extrair locId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Extrair locId": {
      "main": [
        [
          {
            "node": "7. Criar Recorrencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. Criar Recorrencia": {
      "main": [
        [
          {
            "node": "8. Extrair idRec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8. Extrair idRec": {
      "main": [
        [
          {
            "node": "4. Consultar Recorrência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9. Polling QR Code": {
      "main": [
        [
          {
            "node": "10. Validar QR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10. Validar QR": {
      "main": [
        [
          {
            "node": "11. Gerar PNG",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Resposta Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11. Gerar PNG": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Consultar Recorrência": {
      "main": [
        [
          {
            "node": "9. Polling QR Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Jornada 3": {
      "main": [
        [
          {
            "node": "1. Config Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Extrair Resposta ao webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta Sucesso": {
      "main": [
        []
      ]
    },
    "Extrair Resposta ao webhook": {
      "main": [
        [
          {
            "node": "Resposta Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3df80a0e-5ec2-4117-9070-ac6c959841c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4611e39065c74703e2238b4bd808745aa8f5c2c0fd4abc950214ae6622f82380"
  },
  "id": "ugCNvo7rOoDRGGkF",
  "tags": []
}